<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockatoo.helloapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayMessageActivity" />
        <activity android:name=".EventProcessing" />
        <activity android:name=".Activity1" />
        <activity android:name=".IntentActivity" />
        <activity android:name=".Activity2" />
        <activity android:name=".ShowMessageActivity" />
        <activity android:name=".BloodTypeChoiceActivity" />
        <activity android:name=".SharedPreference" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LicenseActivity" />
        <activity android:name=".InternetIO"></activity>
    </application>

</manifest>